<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    {% block seo %}{% endblock %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        pyproject|{% block title %}{% endblock %}
    </title>

    {% block extra_css %}{% endblock %}

    <link rel="stylesheet" href="../dist/output.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
{% block seo_2 %}{% endblock %}
</head>
<body>

<!-- ============ NAV ============ -->
{% block nav %}
    {% include 'core/_nav.html' %}
{% endblock %}

<!-- <div class="h-fit p-2 md:text-2xl text-lg  bg-red-400 flex justify-center items-center">
    <p>عنوان یک خبر یا یک تخفیف مهم</p>
</div> -->

<!-- ============ HEADER ============ -->
{% block header %}
    {% include 'core/_header.html' %}
{% endblock %}



{% block main %}
<main>
<!-- ============ TOP 6 TOPIC ============ -->
    <section class="bg-slate-5">
        <div class="pt-12 pb-16 text-center">
            <h2 class="text-2xl font-bold border-b-4 pb-2">موضوعات پر مخاطب</h2>
        </div>
        <div class="flex justify-center pb-10">
            <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-4 justify-items-center md:w-2/3 w-full">

                <a href="#"
                    class="relative bg-stone-100 py-4 xl:px-8 px-4 xl:text-xl md:w-full w-3/4 text-center shadow hover:shadow-lg transition duration-300">
                    عنوان مطلب پر بازدید
                    <span class="absolute left-0 bottom-0 text-xs md:p-2 p-1 text-gray-600">25 بازدید</span>
                </a>
                <a href="#"
                    class="relative bg-stone-100 py-4 xl:px-8 px-4 xl:text-xl md:w-full w-3/4 text-center shadow hover:shadow-lg transition duration-300">
                    عنوان مطلب پر بازدید
                    <span class="absolute left-0 bottom-0 text-xs md:p-2 p-1 text-gray-600">25 بازدید</span>
                </a>
                <a href="#"
                    class="relative bg-stone-100 py-4 xl:px-8 px-4 xl:text-xl md:w-full w-3/4 text-center shadow hover:shadow-lg transition duration-300">
                    عنوان مطلب پر بازدید
                    <span class="absolute left-0 bottom-0 text-xs md:p-2 p-1 text-gray-600">25 بازدید</span>
                </a>
                <a href="#"
                    class="relative bg-stone-100 py-4 xl:px-8 px-4 xl:text-xl md:w-full w-3/4 text-center shadow hover:shadow-lg transition duration-300">
                    عنوان مطلب پر بازدید
                    <span class="absolute left-0 bottom-0 text-xs md:p-2 p-1 text-gray-600">25 بازدید</span>
                </a>
                <a href="#"
                    class="relative bg-stone-100 py-4 xl:px-8 px-4 xl:text-xl md:w-full w-3/4 text-center shadow hover:shadow-lg transition duration-300">
                    عنوان مطلب پر بازدید
                    <span class="absolute left-0 bottom-0 text-xs md:p-2 p-1 text-gray-600">25 بازدید</span>
                </a>
                <a href="#"
                    class="relative bg-stone-100 py-4 xl:px-8 px-4 xl:text-xl md:w-full w-3/4 text-center shadow hover:shadow-lg transition duration-300">
                    عنوان مطلب پر بازدید
                    <span class="absolute left-0 bottom-0 text-xs md:p-2 p-1 text-gray-600">25 بازدید</span>
                </a>
            </div>
        </div>
    </section>
<!-- ============ SECTION COURSES ============ -->
    <section class="bg-slate-50">
        <div class="pt-12 pb-16 text-center">
            <h2 class="text-2xl font-bold border-b-4 pb-2">آموزش ها</h2>
        </div>
        <div class="grid gap-2 justify-items-center lg:grid-cols-4 md:grid-cols-3 py-6 px-6">

            <div class="max-w-sm rounded overflow-hidden shadow-lg w-full mb-3 bg-white">
                <img class="w-full" src="../images/card-image.png" alt="Sunset in the mountains">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">عنوان یک آموزش</div>
                    <p class="text-gray-700 card-text">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون
                        بلکه روزنامه
                        و مجله در ستون و سطرآنچنان که لازم است
                    </p>
                </div>
                <div class="m-6">
                    <a href="#" class="rounded p-2 bg-green-200 hover:bg-green-400 transition duration-300">مشاهده آموزش</a>
                </div>
                <div class="px-6 pt-4 pb-2 ltr">
                    <a href="#"
                        class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 hover:bg-gray-200 transition duration-300">
                        <span>#</span>
                        <span>python</span>
                    </a>
                    <a href="#"
                        class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 hover:bg-gray-200 transition duration-300">
                        <span>#</span>
                        <span>python</span>
                    </a>
                </div>
            </div>

            <div class="max-w-sm rounded overflow-hidden shadow-lg mb-3 bg-white">
                <img class="w-full" src="../images/card-image.png" alt="Sunset in the mountains">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">عنوان یک آموزش</div>
                    <p class="text-gray-700 card-text">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون
                        بلکه روزنامه
                        و مجله در ستون و سطرآنچنان که لازم است
                    </p>
                </div>
                <div class="m-6">
                    <a href="#" class="rounded p-2 bg-green-200 hover:bg-green-400 transition duration-300">مشاهده آموزش</a>
                </div>
                <div class="px-6 pt-4 pb-2 ltr">
                    <a href="#"
                        class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 hover:bg-gray-200 transition duration-300">
                        <span>#</span>
                        <span>python</span>
                    </a>
                    <a href="#"
                        class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 hover:bg-gray-200 transition duration-300">
                        <span>#</span>
                        <span>python</span>
                    </a>
                </div>
            </div>

            <div class="max-w-sm rounded overflow-hidden shadow-lg mb-3 bg-white">
                <img class="w-full" src="../images/card-image.png" alt="Sunset in the mountains">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">عنوان یک آموزش</div>
                    <p class="text-gray-700 card-text">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون
                        بلکه روزنامه
                        و مجله در ستون و سطرآنچنان که لازم است
                    </p>
                </div>
                <div class="m-6">
                    <a href="#" class="rounded p-2 bg-green-200 hover:bg-green-400 transition duration-300">مشاهده آموزش</a>
                </div>
                <div class="px-6 pt-4 pb-2 ltr">
                    <a href="#"
                        class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 hover:bg-gray-200 transition duration-300">
                        <span>#</span>
                        <span>python</span>
                    </a>
                    <a href="#"
                        class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 hover:bg-gray-200 transition duration-300">
                        <span>#</span>
                        <span>python</span>
                    </a>
                </div>
            </div>

            <div class="max-w-sm rounded overflow-hidden shadow-lg mb-3 bg-white">
                <img class="w-full" src="../images/card-image.png" alt="Sunset in the mountains">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">عنوان یک آموزش</div>
                    <p class="text-gray-700 card-text">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون
                        بلکه روزنامه
                        و مجله در ستون و سطرآنچنان که لازم است
                    </p>
                </div>
                <div class="m-6">
                    <a href="#" class="rounded p-2 bg-green-200 hover:bg-green-400 transition duration-300">مشاهده آموزش</a>
                </div>
                <div class="px-6 pt-4 pb-2 ltr">
                    <a href="#"
                        class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 hover:bg-gray-200 transition duration-300">
                        <span>#</span>
                        <span>python</span>
                    </a>
                    <a href="#"
                        class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 hover:bg-gray-200 transition duration-300">
                        <span>#</span>
                        <span>python</span>
                    </a>
                </div>
            </div>

            <div class="max-w-sm rounded overflow-hidden shadow-lg mb-3 bg-white">
                <img class="w-full" src="../images/card-image.png" alt="Sunset in the mountains">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">عنوان یک آموزش</div>
                    <p class="text-gray-700 card-text">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون
                        بلکه روزنامه
                        و مجله در ستون و سطرآنچنان که لازم است
                    </p>
                </div>
                <div class="m-6">
                    <a href="#" class="rounded p-2 bg-green-200 hover:bg-green-400 transition duration-300">مشاهده آموزش</a>
                </div>
                <div class="px-6 pt-4 pb-2 ltr">
                    <a href="#"
                        class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 hover:bg-gray-200 transition duration-300">
                        <span>#</span>
                        <span>python</span>
                    </a>
                    <a href="#"
                        class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 hover:bg-gray-200 transition duration-300">
                        <span>#</span>
                        <span>python</span>
                    </a>
                </div>
            </div>

            <div class="max-w-sm rounded overflow-hidden shadow-lg mb-3 bg-white">
                <img class="w-full" src="../images/card-image.png" alt="Sunset in the mountains">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">عنوان یک آموزش</div>
                    <p class="text-gray-700 card-text">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون
                        بلکه روزنامه
                        و مجله در ستون و سطرآنچنان که لازم است
                    </p>
                </div>
                <div class="m-6">
                    <a href="#" class="rounded p-2 bg-green-200 hover:bg-green-400 transition duration-300">مشاهده آموزش</a>
                </div>
                <div class="px-6 pt-4 pb-2 ltr">
                    <a href="#"
                        class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 hover:bg-gray-200 transition duration-300">
                        <span>#</span>
                        <span>python</span>
                    </a>
                    <a href="#"
                        class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 hover:bg-gray-200 transition duration-300">
                        <span>#</span>
                        <span>python</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
<!-- ============ SECTION BLOG POST ============ -->
    <section class="bg-slate-5">
        <div class="pt-12 pb-16 text-center">
            <h2 class="text-2xl font-bold border-b-4 pb-2">خواندنی ها</h2>
        </div>
        <div class="grid gap-2 justify-items-center lg:grid-cols-4 md:grid-cols-3 py-6 px-6">

            <div class="max-w-sm rounded overflow-hidden shadow-lg w-full mb-3 bg-white">
                <img class="w-full" src="../images/card-image.png" alt="Sunset in the mountains">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">عنوان یک خواندنی</div>
                    <p class="text-gray-700 card-text">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون
                        بلکه روزنامه
                        و مجله در ستون و سطرآنچنان که لازم است
                    </p>
                </div>
                <div class="m-6">
                    <a href="#" class="rounded p-2 bg-green-200 hover:bg-green-400 transition duration-300">مشاهده مطلب</a>
                </div>
                <div class="px-6 pt-4 pb-2 ltr">
                    <a href="#"
                        class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 hover:bg-gray-200 transition duration-300">
                        <span>#</span>
                        <span>python</span>
                    </a>
                    <a href="#"
                        class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 hover:bg-gray-200 transition duration-300">
                        <span>#</span>
                        <span>python</span>
                    </a>
                </div>
            </div>

            <div class="max-w-sm rounded overflow-hidden shadow-lg mb-3 bg-white">
                <img class="w-full" src="../images/card-image.png" alt="Sunset in the mountains">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">عنوان یک خواندنی</div>
                    <p class="text-gray-700 card-text">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون
                        بلکه روزنامه
                        و مجله در ستون و سطرآنچنان که لازم است
                    </p>
                </div>
                <div class="m-6">
                    <a href="#" class="rounded p-2 bg-green-200 hover:bg-green-400 transition duration-300">مشاهده مطلب</a>
                </div>
                <div class="px-6 pt-4 pb-2 ltr">
                    <a href="#"
                        class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 hover:bg-gray-200 transition duration-300">
                        <span>#</span>
                        <span>python</span>
                    </a>
                    <a href="#"
                        class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 hover:bg-gray-200 transition duration-300">
                        <span>#</span>
                        <span>python</span>
                    </a>
                </div>
            </div>

            <div class="max-w-sm rounded overflow-hidden shadow-lg mb-3 bg-white">
                <img class="w-full" src="../images/card-image.png" alt="Sunset in the mountains">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">عنوان یک خواندنی</div>
                    <p class="text-gray-700 card-text">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون
                        بلکه روزنامه
                        و مجله در ستون و سطرآنچنان که لازم است
                    </p>
                </div>
                <div class="m-6">
                    <a href="#" class="rounded p-2 bg-green-200 hover:bg-green-400 transition duration-300">مشاهده مطلب</a>
                </div>
                <div class="px-6 pt-4 pb-2 ltr">
                    <a href="#"
                        class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 hover:bg-gray-200 transition duration-300">
                        <span>#</span>
                        <span>python</span>
                    </a>
                    <a href="#"
                        class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 hover:bg-gray-200 transition duration-300">
                        <span>#</span>
                        <span>python</span>
                    </a>
                </div>
            </div>

            <div class="max-w-sm rounded overflow-hidden shadow-lg mb-3 bg-white">
                <img class="w-full" src="../images/card-image.png" alt="Sunset in the mountains">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">عنوان یک خواندنی</div>
                    <p class="text-gray-700 card-text">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون
                        بلکه روزنامه
                        و مجله در ستون و سطرآنچنان که لازم است
                    </p>
                </div>
                <div class="m-6">
                    <a href="#" class="rounded p-2 bg-green-200 hover:bg-green-400 transition duration-300">مشاهده مطلب</a>
                </div>
                <div class="px-6 pt-4 pb-2 ltr">
                    <a href="#"
                        class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 hover:bg-gray-200 transition duration-300">
                        <span>#</span>
                        <span>python</span>
                    </a>
                    <a href="#"
                        class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 hover:bg-gray-200 transition duration-300">
                        <span>#</span>
                        <span>python</span>
                    </a>
                </div>
            </div>

            <div class="max-w-sm rounded overflow-hidden shadow-lg mb-3 bg-white">
                <img class="w-full" src="../images/card-image.png" alt="Sunset in the mountains">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">عنوان یک خواندنی</div>
                    <p class="text-gray-700 card-text">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون
                        بلکه روزنامه
                        و مجله در ستون و سطرآنچنان که لازم است
                    </p>
                </div>
                <div class="m-6">
                    <a href="#" class="rounded p-2 bg-green-200 hover:bg-green-400 transition duration-300">مشاهده مطلب</a>
                </div>
                <div class="px-6 pt-4 pb-2 ltr">
                    <a href="#"
                        class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 hover:bg-gray-200 transition duration-300">
                        <span>#</span>
                        <span>python</span>
                    </a>
                    <a href="#"
                        class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 hover:bg-gray-200 transition duration-300">
                        <span>#</span>
                        <span>python</span>
                    </a>
                </div>
            </div>

            <div class="max-w-sm rounded overflow-hidden shadow-lg mb-3 bg-white">
                <img class="w-full" src="../images/card-image.png" alt="Sunset in the mountains">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">عنوان یک خواندنی</div>
                    <p class="text-gray-700 card-text">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون
                        بلکه روزنامه
                        و مجله در ستون و سطرآنچنان که لازم است
                    </p>
                </div>
                <div class="m-6">
                    <a href="#" class="rounded p-2 bg-green-200 hover:bg-green-400 transition duration-300">مشاهده مطلب</a>
                </div>
                <div class="px-6 pt-4 pb-2 ltr">
                    <a href="#"
                        class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 hover:bg-gray-200 transition duration-300">
                        <span>#</span>
                        <span>python</span>
                    </a>
                    <a href="#"
                        class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 hover:bg-gray-200 transition duration-300">
                        <span>#</span>
                        <span>python</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

</main>
{% endblock %}

<!-- footer -->
{% block footer %}
    {% include 'core/_footer.html' %}
{% endblock %}


<script>
    function Menu(e) {
        let drop = document.querySelector('#drop');
        e.name === 'menu' ? (e.name = "close", drop.classList.add('top-16'), drop.classList.add('opacity-100')) : (e.name = "menu", drop.classList.remove('top-16'), drop.classList.remove('opacity-100'))
    }
</script>
{% block extra_js %}{% endblock %}
</body>
</html>
