@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "SHABNAM-THIN";
    src: url("../fonts/Shabnam-Thin.woff");
}
@font-face {
    font-family: "SAMIM";
    src: url("../fonts/Samim.woff2");
}
@font-face {
    font-family: "SHABNAM-MEDIUM";
    src: url("../fonts/Shabnam-Medium.woff")
}

@layer base {
    h1,h2,h3,h4,h5,h6 {
        font-family: "SHABNAM-MEDIUM";
    }
    body {
        font-family: "SAMIM";
    }
    p {
        font-family: "SAMIM";
        font-size: 1.15rem !important;
        text-align: justify !important;
        line-height: 2.25rem !important;
        color: rgb(55,65,81);
    }
    .rtl {
        direction: rtl;
    }
    .ltr {
        direction: ltr;
    }
    .card-text {
        font-size: 1rem !important;
    }
    .badge {
        padding: 0.325rem 0.75rem;
        border-radius: 0.25rem;
        font-weight: 600;
        font-size: 0.75rem;
        cursor: pointer;
    }
    a:hover {
        -webkit-transition: color 0.3s;
        -moz-transition: color 0.3s;
        -ms-transition:color 0.3s;
        -o-transition:color 0.3s;
        transition: color 0.3s;
    }

    .answer {
        background-color: white;
        text-align: right;
        height: 0;
        overflow: hidden;
        transition: height 0.4s ease-out;
    }
    
    .hide{
        display: none;
    }
    .side-panel-collaps {
        max-width: 0px !important;
    }
    #side-panel {
        max-width: 100%;
        -webkit-transition: max-width 0.5s;
        -moz-transition: max-width 0.5s;
        -ms-transition: max-width 0.5s;
        -o-transition: max-width 0.5s;
        transition: max-width 0.5s;
    }
    
}
